/* header */
.info-bar {
  display: flex;
  justify-content: space-between;
  padding: 5px 30px 5px 30px;
}
.info-bar__time {
  font-size: 20px;
  font-weight: bold;
  padding-top: 5px;
}
.info-bar__island {
  transition: all 0.2s linear;
  width: 120px;
  height: 35px;
  border-radius: 30px;
  background-color: black;
}
.info-bar__island:hover {
  transform: scale(1.1);
}
.info-bar__icons img {
  padding-top: 7px;
  width: 20px;
}

.menu-bar1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 10px 15px 10px;
}
.menu-bar1__location {
  font-size: 25px;
  font-weight: bold;
}
.menu-bar1__location img {
  width: 20px;
  cursor: pointer;
}
.menu-bar1__icons img {
  margin-left: 10px;
  width: 30px;
  cursor: pointer;
}

.menu-bar2 {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 30px 0px 30px 6px;
  overflow-x: auto;
  white-space: nowrap;
}
.menu-bar2::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.menu-bar2::-webkit-scrollbar-track {
  background: transparent;
}

.menu-bar2::-webkit-scrollbar-thumb {
  background: transparent;
}

.menu-bar2::-webkit-scrollbar-thumb:hover {
  background: #ff6e00;
}
.menu-bar2 button {
  border-radius: 5px;
  font-size: 17px;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  cursor: pointer;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-bar2 img {
  width: 20px;
  margin-right: 5px;
}
/* main */

/* footer */
